h1{
color:#ba55d3;
font-size:250%;
position:relative;
top:20px;
}
h2{
font-size:140%;
}
div{
width:640px;
margin-right:auto;
margin-left:auto;
margin-top:20px;
}
h1,h2,footer{
text-align:center;
font-family: 'Kiwi Maru', serif;
}
p{
font-family: 'Kiwi Maru', serif;
}
header{
border-top:solid 10px #ba55d3;
}
section{
background-image:url(image/bot.png);
background-repeat:no-repeat;
background-position:104% -13%;
background-size:100px 100px;
text-align:center;
}
body{
background-image: url(image/b082.jpg);
}
section{
box-shadow:0 0 10px 0 #ccc;
margin-top:10px;
padding-top:20px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
background-color:white;
}



*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

button.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 0.3rem;
  font-weight: 100;
  line-height: 0.0;
  position: relative;
  top:-105px; /*ベトナム版のみボタン位置直接変更*/
  left:-300px;
  display: inline-block;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}



a.btn-border {
  border: 1px solid #ba55d3;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #ba55d3;
}



